#page-one {
  width: 1400px;
  height: 800px;
  gap: 0px;
  opacity: 0px;
  background-image: url(headphones_hero_1.jpg);
  background-size: cover;
}
body{
  text-align: center;
}
#nav {
  display:flex;
  width: 1000.39px;
  height: 32px;
  color: #f1f1f1;
  align-items: center;
  margin-left: 200px;
  padding-top: 40px;
  gap: 40;
  justify-content: space-between;
}
.nav-tags ul li {
  display: inline;
  margin-right: 30px;
}
a{
  text-decoration: none;
  color: #f1f1f1;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
}
 ul li a:hover {
  color:#FF6565;
  cursor: pointer;
}
#page-one header i{
  display: none;
  
}
h1 {
  font-family: Source Sans Pro;
  font-size: 32px;
  font-weight: 700;
  margin-top: 250px;
  line-height: 40.22px;
  color: #f1f1f1;
  text-align: center;
}
p{
  /* margin-top:10px; */
text-align: center;
transform: translateY(-20px);
color: #f1f1f1;
font-family: Source Sans Pro;
font-size: 16px;
font-weight: 700;
line-height: 20.11px;

}
#btn {
width: 162px;
height: 44px;
margin-top:40px;
text-align: center;
font-family: Source Sans Pro;
font-size: 14px;
font-weight: 700;
color: #f1f1f1;
line-height: 17.6px;
background: #FF6565;
border-radius: 20px;
border: none;
align-items: center;
}
.p-one{
  text-align: center;
  color: #f1f1f1;
  font-family: Source Sans Pro;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-left: 350px;
padding-right: 350px;
transform: translateY(50px);
}
#sidebar-active{
  display:none;
}
.open-button{
  display:none;
}

@media screen and (max-width:768px) {
  #page-one {
    width:100%;
    height:700px;
    background-image: url(headphones_hero_1.jpg);
    background-size: cover;
  }
  
#nav {
  display:flex;
  width:100%;
  height:20px;
  color: #f1f1f1;
  align-items: center;
  margin-left:10px;
  padding-top: 40px;
  justify-content:space-around;
}.p-one{
  text-align: center;
  color: #f1f1f1;
  font-family: Source Sans Pro;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-left: 50px;
padding-right: 50px;
transform: translateY(50px);
}
}
@media (max-width:375px) {
  #page-one {
    width:100%;
    height:880px;
    background-image: url(headphones_hero_1.jpg);
    background-size: cover;
  }
  #nav {
    display:block;
    width:100%;
    height: 32px;
    color: #f1f1f1;
    align-items: center;
    margin-left: 20px;
    padding-top: 40px;
    gap: 40;
    position: absolute;
    text-align: center;
    justify-content:center;
  }
  .nav-tags ul li {
    display:none;
    line-height: 50px;
    letter-spacing:1px;
}
#page-one header i{
  margin-right:260px;
  transform: translateY(80px);
  display:block;
  
}
.open-button{
  display: block;
}
#sidebar-active:checked ~ .nav-tags ul li{
  display: block;
}
}
#page-two{
  width:100%;
  height: 700px;
}
.par-1{
  font-family: Source Sans Pro;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
transform: translateY(20px);
color: black;
padding-left:300px;
padding-right:300px;
}
.head-one {
  font-family: Source Sans Pro;
  font-family: SourceSansPro;
font-size: 32px;
line-height: 37.5px;
text-align: center;
color: black;
margin-top:150px;
}
.selector{
  display:flex;
  transform: translateY(150px);
  justify-content: space-evenly;
  justify-content: center;
}
.selector p{
  color: black;font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  
}
.selector h1{
  width: 207px;
height: 26px;
}
.music, .ear{
  transform: translateY(20px);
}
@media (max-width:768px){
  #page-two{
    width:100%;
    height: 800px;
  }
  .par-1{
    font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  transform: translateY(20px);
  color: black;
  padding-left:30px;
  padding-right:30px;
  }
  .selector{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
  }

}
@media (max-width:375px){
  #page-two{
    width:100%;
    height: 900px;
  }
  .selector{
    transform: translateY(10SS0px);
    display: block;
    justify-content: center;

  }
  
}

